.checkbox{
    width: 22px;
    height: 22px;
}

.task__todo{
    font-size: 30px;
    font-weight: 600;
    margin-left: 5px;
}

.finish{
    text-decoration: line-through;
    color: gray;
}

.delete{
    margin: 5px 10px 0px 0px
}

.btn--delete{
    width: 27px;
    height: 27px;
}